.edit-my-page {
  &__message {
    min-height: 120px;
  }

  @include sp {
    &__message {
      min-height: 80px;
    }
  }
}

/*プロフィール画像*/
.my-icon {
  display: block;
  position: relative;

  &__thum-img {
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px;
    max-width: 180px;
  }

  &__input-file {
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 180px;
  }

  &.dragover {
    border: 2px dashed $glay-color;
  }

  @include sp {
    &__thum-img {
      max-width: 120px;
    }
  }
}