.eat-selects {
  &__title {
    font-size: $head-font-size;
    text-align: center;
    margin-bottom: 30px;
  }

  &__alert {
    font-size: $base-font-size;
    color: $alert-color;
  }

  @include sp {
    &__title {
      font-size: $head-font-size_sp;
      margin-bottom: 15px;
    }

    &__alert {
      font-size: $base-font-size_sp;
    }
  }
}

.eat-select {
  padding: 20px;

  &__lists {
    margin: 0 auto;
    padding: 20px;
    max-width: 480px;
  }

  &__list {
    border: 2px solid $base-color;
    font-size: $large-font-size;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;

    &:hover {
      cursor: pointer;
      opacity: $hover_opacity;
    }

    &:last-child {
      margin-bottom: 0;
    }

    // &--lunch {
    //   background: #FFBB00;
    // }

    &--main-1 {
      background: #FFBB00;
    }

    // &--dinner {
    //   background: #336B87;
    // }

    &--main-2 {
      background: #336B87;
    }

    // &--meat {
    //   background: #FD724F;
    // }

    &--sub-1 {
      background: #FD724F;
    }

    // &--fish {
    //   background: #4599CB;
    // }

    &--sub-2 {
      background: #4599CB;
    }

    // &--noodles {
    //   background: #F7A100;
    // }

    &--sub-3 {
      background: #F7A100;
    }

    // &--bread {
    //   background: #D8933A;
    // }

    &--sub-4 {
      background: #D8933A;
    }

    // &--rice {
    //   background: #F8F8F8;
    // }

    &--sub-5 {
      background: #F8F8F8;
    }

    // &--dessert {
    //   background: #F0ABC8;
    // }

    &--sub-6 {
      background: #F0ABC8;
    }
  }

  @include sp {
    padding: 10px 2%;

    &__lists {
      padding: 20px 2%;
    }

    &__list {
      font-size: $base-font-size;
    }
  }
}

.first-select {
  color: #FFF;
  // display: none;
}

.second-select {
  display: none;
}

//検索結果
.meal-search-result {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  display: none;

  &__found {
    margin-bottom: 20px;
    padding: 4px 8px;
  }

  &__contents {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 40px;
  }

  &__lists {
    width: 46%;
    max-height: 400px;
    overflow-y: scroll;
  }

  &__g-map {
    background: #888888;
    height: 400px;
    width: 50%;
  }

  &__list {
    border: 1px solid $sub-color;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 120px;
    padding: 8px 12px;
    position: relative;

    &__favorite {
      color: $sub-color;
      cursor: pointer;
      font-size: 24px !important;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;

      &:hover {
        opacity: $hover_opacity;
      }

      &.active {
        /*heartAnimationを200ミリ秒かけて実行する*/
        animation: heartAnimation .2s;
        color: $favorite-color;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &__img {
      width: 30%;
    }
  }

  &__details {
    width: 65%;

    &__title {
      font-size: $base-font-size;
    }

    &__info {
      font-size: $sub-font-size;
      display: flex;
      flex-flow: row wrap;

      dt,
      dd {
        margin-bottom: 4px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      dt {
        width: 30%;
        // margin-right: 2%;
      }

      dd {
        color: $base-color;
        width: 70%;
      }
    }
  }

  &__to-top {
    text-align: right;
    width: 100%;

    a {
      color: $base-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include sp {
    padding: 10px 4%;

    &__found {
      margin-bottom: 10px;
      padding: 4px 2%;
    }

    &__contents {
      margin-bottom: 20px;
    }

    &__lists {
      width: 100%;
      max-height: 400px;
      overflow-y: scroll;
      order: 2;
    }

    &__g-map {
      height: 250px;
      margin-bottom: 20px;
      order: 1;
      width: 100%;
    }

    &__list {
      margin-bottom: 10px;
      min-height: 100px;
      padding: 8px 2%;
    }

    &__details {
      &__title {
        font-size: $base-font-size_sp;
        margin-bottom: 10px;
      }

      &__info {
        font-size: $sub-font-size_sp;
      }
    }

    &__to-top {
      margin-bottom: 40px;
    }
  }
}

@keyframes heartAnimation {

  //クリック時に起動
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }

  10% {
    transform: scale(0.7);
  }

  30% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1.5);
  }

  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

//マップ、マーカークリック時の飲食店詳細
.meal-detail {
  &__lists {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 8px;

    li {
      width: 50%;

      img {
        max-width: 100%;
      }
    }
  }

  &__show {
    display: flex;
    flex-flow: row wrap;
    font-size: $small-font-size;
    margin-bottom: 10px;

    dt,
    dd {
      margin-bottom: 4px;
    }

    dt {
      width: 30%;
    }

    dd {
      width: 70%;
    }
  }

  &__open-now {
    font-size: 10px;
    color: $base-color;
  }

  &__review-lists {
    li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}