/*----変数------------------------------*/
/*色*/
$head-color: #111111;
$base-color: #333333;
$sub-color: #888888;
$attention-color: #FF0000;
$submit-btn-color: #eb6100;
$twitter-color: #00acee;

/*書式*/
$logo-font: 'M PLUS Rounded 1c',
sans-serif;
$text-font: 'M PLUS Rounded 1c',
'Hiragino Kaku Gothic ProN',
'メイリオ',
sans-serif;

/*サイズ*/
$width_pc: 960px;
$width_sp: 767px;
$base-font-size: 16px;//基本サイズ
$head-font-size: 25px;//見出し
$sub-font-size: 14px;
$small-font-size: 12px;

/*オプション*/
$hover_opacity: 0.7;